{
    frankenphp

    log {
        format console
    }
}

:80 {
    encode {
        zstd fastest
        gzip 1
    }

    php {
        worker scripts/http.php {
            match *
            watch
            num 1
        }
    }
}
